@charset "UTF-8";

body{
	background-color: rgb(247,247,247);
}
#context{
	min-width: 1200px;
	background-color: rgb(247,247,247);
	height: 976px;
}
#context_head{
	position: relative;
	width: 1200px;
	height: 72px;
	margin: 0 auto;
}
#Mall_homepage{
	color: #333;
	font-size: 13px;
	display: inline-block;
	line-height: 72px;
}
#Mall_homepage a{
	cursor: pointer;
	color:#333;
	text-decoration:none;
}
.right_j{
	position: relative;
	top: 5px;
	width: 20px;
	height: 20px;
	
}
.page{
	font-size: 13px;
	color: #999;
	cursor: pointer;
	
}
#center_box{
	width: 1200px;
	height: 800px;
}
#left_box{
	width: 200px;
	height: 750px;
	float: left;
	background-color: #fff;
	color: #666;
}
#right_box{
	width: 990px;
	/* height: 890px; */
	float: left;
	background-color: #fff;
	margin-left: 10px;
	min-height: 750px;
}
#left_box ul{
	    list-style: none;
    position: relative;
    right: 8px;
}
#left_box ul li a{
	cursor: pointer;
	width: 100px;
	height: 100px;
}
#img_tx{
	width: 140px;
	height: 140px;
}
#name{
	height: 40px;
    line-height: 40px;
    margin-top: 20px;
    padding: 0 10px;
    font-size: 18px;
    color: #000;
    text-align: center;
    padding-right: 36px;
}
#jifen{
    height: 30px;
    line-height: 30px;
    margin-left: 17px;
}
#jifen a{
	list-style: none;
}
#jifen a span{
	cursor: pointer;
	list-style: none;
	color: #f04141;
}
dl .dt{
	    margin-top: 28px;
    padding-bottom: 8px;
    padding-left: 26px;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    color: #333;
}
#left_list dd{
	height: 35px;
	line-height: 34px;
	font-size: 14px;
	color: #898989;
	margin: 0 0 1px 0;
	cursor: pointer;
}
#left_list dd a:hover{
	background-color: rgb(253,234,236);
	color: #f04141;
}
#left_list dd a{
	display: block;
    color: #888;
    padding: 1px 0 2px 64px;
    text-decoration: none;
}#huanyin{
	font-size: 21px;
	line-height: 21px;
	color: #333;
}
#two_head{
	margin-top: 15px;
	font-size: 16px;
	color: #666;
}
#right_box_two{
	margin: 50px 30px;
}
/* #right_box_head{
	margin: 50px 30px;
} */
#myjifen{
	margin-top: 15px;
	font-size: 16px;
	color: #666;
}
#jf{
	color: #f04141;
	margin-right: 60px;
}
#jinru{
	color: #456fff;
	margin-right: 60px;
}
#oldtime{
	color: #b0b0b0;
}
#right_box_center{
	margin-top: 25px;
	margin-bottom: 30px;
	border-top: 1px solid #eee;
}
#tubiaolan{
	padding: 30px 0;
	clear: left;/* 表示左侧不允许出现浮动元素 */
	overflow: hidden;
	/* margin-left: 30px; */
}
#tubiaolan ul{
	list-style: none;
}
.item{
	float: left;
	width: 20%;
	height: 56px;
	padding-left: 65px;
	line-height: 50px;
	font-size: 16px;
	background: url("../IMG/下载.png") no-repeat;
}
.item a{
	cursor:pointer;
}
.two{
	background-position: 0 -64px;
}
.three{
	background-position: 0 -127px;
}
.item a{
	font-size: 24px;
	margin-left: 10px;
	color: #456fff;
}
#zj_maxbox{
	/* margin-left: 30px; */
}
#zuijindindan{
	font-size: 16px;
	color: #333;
	line-height: 45px;
}
#dindan_table{
	border: 1px solid #e3e3e3;
	width: 925px;
	width: 100%;
	border-collapse: collapse;
}
#dindan_table tr{
	padding-top: 5px;
	padding-bottom: 5px;
}
#dindan_table td{
	padding: 10px;
	border: none;
}
#dindan_table tr{
	border-bottom: 1px solid #e3e3e3;
}
#dindan_table tr td{
	font-size: 14px;
	color: #666;
	text-align: center;
	height: 40px;
}
#dindan_table tr td a{
	color: #456fff;
	cursor: pointer;
}
#foot_top{
	padding: 30px 0 0;
	background-color: #fff;
}
#zuijinliulan {
	margin-top: 20px;
}
#liulanPonebox{
	height: 270px;
}
#zuijinliulan .li{
	float: left;
    width: 212px;
    margin-right: 20px;
    text-align: center;
	margin-top: 25px;
	list-style: none;
}
#zuijinliulan .li a{
	color: #252525;
    text-decoration: none;
    cursor: pointer;
    outline: 0 none;
}
#zuijinliulan .li a img{
	width: 210px;
    height: 210px;
    border: 1px solid #e3e3e3;
}
#myorder_box{
	float: left;
    width: 925px;
    padding: 0 30px 30px;
    color: #666;
    background-color: #fff;
    margin-bottom: 72px;
}
#myorder_tite{
	padding-top: 38px;
    font-size: 21px;
    color: #000;
    text-align: center;
}
#head_list{
	margin: 30px 0 32px;
    padding-left: 25px;
}
.current{
	position: relative;
    float: left;
    margin-right: 58px;
    padding-bottom: 12px;
    height: 25px;
    font-size: 16px;
    line-height: 25px;
    color: #777;
}
dd, dl, dt, li, ol, ul {
    list-style: none;
}
.current a{
	text-decoration: none;
    cursor: pointer;
    outline: 0 none;
}
.module_item{
	color: #333;
}
.list-caption{
	margin: 20px 0;
    height: 42px;
    border: 1px solid #f8f8f8;
    background-color: #f8f8f8;
}
.geren_title{
	padding-top: 38px;
    font-size: 21px;
    color: #000;
    text-align: center;
}
#geren_table{
	    width: 100%;
    table-layout: fixed;
    margin: 30px 0 50px;
}
.left_title{
	text-align: right;
	list-style: none;
}
.right_value{
	padding: 15px 5px;
    font-size: 16px;
    font-weight: 400;
}
.right_value img{
	width: 200px;
    height: 200px;
    border: 0;
    vertical-align: middle;
}
#option_box{
	position: relative;
    text-align: left;
}
#option_box label{
	margin-right: 20px;
	cursor: pointer;
}
#shouhuo_title{
	text-align: center;
    padding: 40px 0 30px;
}
#dizhi_title{
	    font-size: 21px;
    color: #333;
}
#max_tianjia{
	color: #666;
	font-size: 14px;
}

#mydindanbox{
	color: #333;
}
#mydindanbox_two{
	margin-top: 70px;
    height: 42px;
    border: 1px solid #f8f8f8;
    background-color: #f8f8f8;
}
#mydindanbox_two div {
	float: left;
	line-height: 42px;
	text-align: center;
    font-size: 14px;
    color: #666;
}
#mydindanbox_two div:nth-child(1){
	width: 359px;
}
#mydindanbox_two div:nth-child(2){
	width: 99px;
}
#mydindanbox_two div:nth-child(3){
	width: 108px;
}
#mydindanbox_two div:nth-child(4){
	width: 100px;
}
#mydindanbox_two div:nth-child(5){
	width: 108px;
}
#mydindanbox_two div:nth-child(6){
	width: 143px;
}
.order_list{
	position: relative;
    margin-top: 20px;
    width: 100%;
    color: #666;
    border: 1px solid #ececec;
}
.head{
	width: 100%;
    height: 45px;
    display: flex;
    border-bottom: 1px solid #ececec;
    line-height: 45px;
    position: relative;
    color: #333;
}
.left{
	margin-left: 25px;
	margin-right: 0px;
}
.left a{
	color: #333;
}
.left a:hover{
	color: #456fff;
	cursor: pointer;
}
.middle{
	margin-left: 72px;
}
.right{
	position: absolute;
    right: 25px;
    cursor: pointer;
}
.v-icon{
	width: 1em;
    height: 1em;
    vertical-align: -.15em;
    fill: currentColor;
    overflow: hidden;
}
.v-icon img{
	width: 20px;
	height: 20px;
}
.v-icon:hover{
	color: rgb(241,3,19);
}
.main{
	margin: 0 auto;
   /* padding: 0 30px 30px; */
}
.main table{
	width: 100%;
	height: 100%;
	text-align: center;
	border-color: #ececec;
}
.main table tr img{
	width: 100px;
	height: 100px;
}
.img_phone{
	height: 200px;
}
.table{
	border-collapse: collapse;
	border: none;
}
.yinfu{
	text-align: right;
	height: 50px;
}
.title{
	    padding-top: 38px;
    font-size: 21px;
    color: #000;
    text-align: center;
}
.common{
	    margin-top: 25px;
    border: 1px solid #e0e0e0;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left:24px;
}
thead th{
	padding: 10px;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
thead th:nth-child(1){
/* 	border: 0px solid #e0e0e0; */
}
thead th:nth-child(2){
	width: 250px;
}
thead th:nth-child(3){
	width: 120px;
}
thead th:nth-child(4){
	width: 190px;
}
thead th:nth-child(5){
	width: 120px;
}
thead th:nth-child(6){
	width: 190px;
}
tbody tr{
	    display: table-row;
    vertical-align: middle !important;
    border-color: inherit;
}
tbody tr td:nth-child(1){
	border-right: 0 solid #e0e0e0;
}
.phone_title a{
	display: inline-block;
    width: 105px;
    height: 105px;
}
#phone_img{
	width: 105px;
    height: 105px;
    margin-left: 21px;
    vertical-align: unset !important;
}
.phone_title{
	    color: #777;
    padding: 10px;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.phone_title a{
	font-size: 16px;
    margin-left: 10px;
    color: #777;
    line-height: 1.5;
	vertical-align: middle;
	width: 160px;
	height: 100px;
}
.phone_title a img{
	height: 18px;
    margin-right: 10px;

}
.nei{
	position: relative;
	top: 23px;
}
.jibenshuju{
	    color: #777;
    padding: 10px;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
td strong{
	    color: #3bace6;
    font-weight: 400;
    font-size: 14px;
}
.jibenshuju p{
	    color: #777;
    font-size: 14px;
}
.caozuo{
	    position: relative;
    color: #777;
    font-size: 14px;
}
.caozuo a:nth-child(1){
	    display: inline-block;
	    margin-right: 7px;
	    width: 98px;
	    line-height: 28px;
	    border: 1px solid #7ec2eb;
	    border-radius: 2px;
	    background-color: #fff;
	    color: #3bace6;
		vertical-align: middle;
		height: 30px;
		cursor: pointer;
}
.caozuo a:nth-child(2){
	    color: #0b8acb;
		cursor: pointer;
}