@charset "UTF-8";
body {
		    margin: 0;
		    padding: 0;
		    display: flex;
			
		}
		#box{
			margin: auto;
			width: 1511px;
			position: relative;
		}
	
	    
		#tou{
			 display: flex;
			 background-color: black;
			 color: white;
			 height: 50px;
			 text-align: center;
			 margin:auto;
		}
		
		#left {
		    display: flex;
		    list-style: none;
		}
		#you {
			float: right;
			margin-left: auto;
			margin-right: 20px;
			display: flex;
			list-style: none;
	}
		#left li, #you li {
		    margin-left: 20px;
			font-size: 13px;
		}
	    .nav li {
	        margin: 0 10px;
	        cursor: pointer;
			text-align: center;
			height: 35px;
			line-height: 35px;
			margin-left: 48px;	
	    }
	
	    .nav div {
	        display: none;
	        height: 50px;
	        background-color: lightblue;
	        overflow: hidden;
	        transform: translate(-50%, -50%);
	        opacity: 0;
	        transition: opacity 0.3s ease-in-out, max-height 0.4s ease; /* 过渡效果 */
	    
	    }
	    
	    #navDiv {
	        width: 1511px;
	        transition: all 0.4s ease;
	        overflow: hidden;
	        height: 350px;
	        position: absolute;
	        top: 125px;
			left: 0;
			 z-index: 1000; 
	    }
		/* 头部隐藏列表的各个div' */
		.navDiv{
			width: 1511px;
			height: 350px;
			background-color: white;
			display: none;
		}
		/*下载图片的id*/
		#xiazai{
			line-height: 80px;
		}
		#vivo {
		    width: 90px;
		    filter: invert(100%);
		    margin-left: 80px; 
		    margin-top: 17px;
			height: 30px;
		}
		
		#tu {
		    align-items: center;
		    height: 0px;
		    line-height: 20px;
		    width: 100px; 
		    display: block;
		}
	
	.nav {
	    flex: 1; 
	    display: inline-flex;
	    margin-left: 380px;
		list-style: none;
		line-height: 20px;
		height: 100%;
	}
	
		#head{
			height: 80px;
			align-items: center;
			justify-content: center; /* 水平居中 */
			line-height: 35px;
			width: 1470px;
			margin: auto;
		}
		#so{
			display: inline;
			float: right;
			height: 0px;
			
		}
		#sou{
			width: 88px;
			height: 55px;
			margin-right: 95px;
			margin-top: 7px;
		}
		#sss {
		    text-align: left;
		    background-color: white;
			left: 0;
		    width: 1511px;
		    transition: height 0.5s ease, opacity 0.5s ease; /* 添加过渡效果 */
		    position: absolute;
		    top: 50px;
		    display: none;
		    opacity: 0; /* 初始设置透明度为0 */
			cursor: pointer;
			height: 430px;
			 z-index: 1000; 
		}
		
		#form{
			transition:1s;
			display: inline;
		}
		#form-in{
			width: 470px;
			height: 50px;    
			border: none; /* 去掉边框 */
			margin-left:200px;
		}
		@keyframes slideulRight {
		    from {
		        transform: translateX(100%);
		        opacity: 0;
		    }
		    to {
		        transform: translateX(0);
		        opacity: 1;
		    }
		}
		#sou-ul{
			list-style: none;
			display: block;
			margin-left: 270px;
			width: 120px; /* 略大于 a 标签的宽度 */
			height: 60px; /* 略大于 a 标签的高度 */
		}
		#sou-ul li a {
		    list-style: none;
			text-decoration: none; /* 去除下划线 */
			font-size:12px;
			animation: slideulRight 2s forwards; /* 应用动画效果 */
		}
		#form-in, #form img ,#sou-div {
		    display: inline-block;
		    vertical-align: middle; /* 垂直居中对齐 */
		}
		
		#sou-shang {
		    display: flex; /* 将父元素设置为 Flex 容器 */
			height:55px;
			margin: auto;
		}
		
		
		#form {
		    flex: 1; /* 让 form 元素自动填充剩余空间 */
		}
		
		#sss-box{
			width: 1200px;
			margin: auto;
		}
		#sou-div {
		    margin-left: 10px; /* 可以根据需要调整间距 */
		}
		#span-X {
		    align-items: center; /* 垂直居中 */
			margin-top: 13px;
		}
		@keyframes slideFromLeft {
		    from {
		        transform: translateX(100%);
		    }
		    to {
		        transform: translateX(1);
		    }
		}
		#x {
		    width: 560px;
		    height: 1px;
		    background-color: #ccc;
		    animation: slideFromLeft 2s forwards; /* 应用动画效果 */
		    margin-left: 310px; 
		}
		#sou-tu {
		    width: 88px; /* 根据需要调整宽度 */
		    height: 55px; /* 根据需要调整高度 */
		    margin-left: 290px;
		    animation: slideFromRight 1s forwards; /* 应用动画效果 */
		}
		
		@keyframes slideFromRight {
		    from {
		        transform: translateX(100%);
		        opacity: 0;
		    }
		    to {
		        transform: translateX(0);
		        opacity: 1;
		    }
		}
		#sou-vivo{
			width: 90px;
			filter: invert(100%);
			height: 30px;
			display: inline-flex;
			margin-right: 20px;
			 margin-top: 17px;
		}
	#lun{
		background-color: #ccc;
		width: 1511px;
		height: 522px;
		margin: auto;
		
	}
	#fen{
		height: 240px;
		display: grid;
		place-items: center; /* 水平和垂直居中 */
		margin-top: 20px;
	}
	.shou {
	  background-color: white;
	  height: 190px;
	  width: 394px;
	  float: left;
	  margin-left: 5px;
	  transition: transform 0.3s; /* 添加transform属性的过渡效果，持续时间0.3秒 */
	}
	/*给div设置伪类效果*/
	.shou:hover{
		  box-shadow:3px 3px 3px 5px rgb(200,200,200,0.2); /* 水平偏移2px，垂直偏移2px，模糊半径5px，颜色为淡黑色 */
		   transform: translateY(-5px); /* 向上移动5px */
	}
	.shou img{
		width: 100%;
		height: 100%;
	}
	
	
	
	#remai{
		background-color: whitesmoke;
		height: 600px;
	}
	#p{
		padding-top: 20px;
		font-size: 20px;
		text-align: center;
	}
	.i{
		width: 394px;
		height: 520px;
		float: left;
		background-color: white;
		margin-left: 10px;
		transition: transform 0.3s; /* 添加transform属性的过渡效果，持续时间0.3秒 */
	}
	.i:hover{
		box-shadow:3px 3px 3px 5px rgb(200,200,200,0.2); /* 水平偏移2px，垂直偏移2px，模糊半径5px，颜色为淡黑色 */
		 transform: translateY(-5px); /* 向上移动5px */
	}
	#iQ{
		    display: flex;
		    justify-content: center;
		    align-items: center;
	}
	#jing{
		background-color: aliceblue;
		width: 100%;
		height: 880px;
	}
	#pin{
		padding-top: 20px;
		font-size: 20px;
		text-align: center;
	}
	#he1 {
	    display: flex; /* 使用 Flexbox 布局 */
	    justify-content: center; /* 水平居中 */
	    align-items: center; /* 垂直居中 */
	}
	
	#he1 #j {
	    width: 603px;
	    height: 380px;
	    background-color: antiquewhite;
	}
	
	#he1 .j {
	    width: 298px;
	    height: 380px;
	    background-color: antiquewhite;
	    margin-left: 10px;
		transition: transform 0.3s; /* 添加transform属性的过渡效果，持续时间0.3秒 */
	}
	.j:hover{
		box-shadow:3px 3px 3px 5px rgb(200,200,200,0.2); /* 水平偏移2px，垂直偏移2px，模糊半径5px，颜色为淡黑色 */
		 transform: translateY(-5px); /* 向上移动5px */
	}
	#ji {
	    display: flex; /* 使用 Flexbox 布局 */
	    justify-content: center; /* 水平居中 */
	    align-items: center; /* 垂直居中 */
		margin-top:20px;
		transition: transform 0.3s; /* 添加transform属性的过渡效果，持续时间0.3秒 */
	}
	
	#ji .ji {
	    width: 298px;
	    height: 380px;
	    background-color: antiquewhite;
	    margin-left: 10px;
	}
	.ji:hover{
		box-shadow:3px 3px 3px 5px rgb(200,200,200,0.2); /* 水平偏移2px，垂直偏移2px，模糊半径5px，颜色为淡黑色 */
		 transform: translateY(-5px); /* 向上移动5px */
	}
	#box1{
		width: 100%;
		height: 890px;
		background-color: silver;
	}
	#peii {
	    display: inline-flex;
		width: 100%;
	}
	#jian {
	    font-size: 20px;
	    width: 1151px;
	    margin-left: 151px;
	}
	
	#biaoti {
	    list-style: none;
	    width: 280px;
	    margin-top: 22px;
	}
	
	#biaoti li {
	    float: left;
	    margin-right: 10px;
	}
	
	#jian-p {
	    display: flex;
	    justify-content: center; /* 水平居中 */
	    align-items: center; /* 垂直居中 */
	    float: left;
		width: 100%;
	}
	#u{
		margin-right: 124px;
	}
	#jian-p .jian-pin {
	    width: 298px;
	    height: 380px;
	    background-color: antiquewhite;
	    margin-left: 10px; /* 为每个 .jian-pin 元素设置左边距 */
		transition: transform 0.3s; /* 添加transform属性的过渡效果，持续时间0.3秒 */
	}
	.jian-pin:hover{
		box-shadow:3px 3px 3px 5px rgb(200,200,200,0.2); /* 水平偏移2px，垂直偏移2px，模糊半径5px，颜色为淡黑色 */
		 transform: translateY(-5px); /* 向上移动5px */
	}
	#jian-pi {
	    display: flex;
	    justify-content: center; /* 水平居中 */
	    align-items: center; /* 垂直居中 */
	    float: left;
		width: 100%;
		margin-top: 20px;
	}
	
	#jian-pi .jian-pi {
	    width: 298px;
	    height: 380px;
	    background-color: antiquewhite;
	    margin-left: 10px; /* 为每个 .jian-pin 元素设置左边距 */
		transition: transform 0.3s; /* 添加transform属性的过渡效果，持续时间0.3秒 */
	}
	.jian-pi:hover{
		box-shadow:3px 3px 3px 5px rgb(200,200,200,0.2); /* 水平偏移2px，垂直偏移2px，模糊半径5px，颜色为淡黑色 */
		 transform: translateY(-5px); /* 向上移动5px */
	}
	
	
	/*尾部样式*/
	#foot {
	    height: 400px;
	    display: flex;
	    justify-content: center; /* 水平居中 */
		display: block;
	}
	
	#tt {
	    text-align: center; /* 让内部文本居中显示 */
	    margin-top: 15px;
	    border-bottom: black solid 1px;
	    height: 80px;
	    width: 1300px;
	    margin-left: auto; /* 左边距自动调整 */
	    margin-right: auto; /* 右边距自动调整 */
	    display: flex;
	    justify-content: center; /* 水平居中 */
	    align-items: center; /* 垂直居中对齐 */
	}
	
	#tt p {
	    margin-left: 140px; /* 左边距为140px */
	}
	
	#tt img {
	    margin-right: 10px; /* 图片右侧间距为10px */
	}
	#wei {
	  list-style: none;
	  display: flex;
	  justify-content: space-around;
	  width: 700px;
	}
	#wei li {
	    text-align: left;
	}
	dt {
		margin-left: 39px;
		font-weight: bold;
	}
	dd{
		margin-top: 15px;
		font-size: 12px;
	}
	
	#wei a {
	    color: black; /* 设置链接文本颜色为红色 */
	    text-decoration: none; /* 去掉下划线 */
	}
	#zz{
		display: inline-block;
	}
	#yy{
		float: right;
		margin-top: 18px;
	}
	#xin,#ip,#bo,#yx,#gz{
		display: inline-flex;
		float: left;
	}
	#yy p{
		margin-left: 24px;
	}
	#yy h4{
		margin-left: 25px;
	}
	#ww{
		width: 1300px;
		margin: auto;
		height: 550px;
		border-bottom: 1px gainsboro solid;
	}
	.c{
		width: 25px;
		height: 25px;
	}
	#ban{
		margin: auto;
		width: 1300px;
		text-align: center;
		font-size: 13px;
	}
	/*轮播*/
	.slideshow-container {
	   overflow: hidden;
	   height: 522px;
		width: 1511px;
		margin: auto;
	 }
	
	.slide {
	  display: none;
	  width: 100%;
	  transition: opacity 5s ease; /* 添加淡出淡入动画效果 */
	}
	
	.slide img {
	  width: 100%;
	  height: 522px;
	  display: block;
	  margin: 0 auto;
	  object-fit: cover; /* 或者 object-fit: contain; */
	}
	
	 #slideIndex {
	   text-align: center;
	   margin-top: 10px;
	   font-weight: bold;
	   text-decoration: underline;
	 }
	
	 .dot-container {
	   text-align: center;
		  position: absolute;
		  top: 600px;
		  left: 44%;
	 }
	
	 .dot {
	   height: 1px;
	   width: 35px;
	   background-color: white;
	   display: inline-block;
	   margin: 0 5px;
	   cursor: pointer;
		  
	 }
	
	 .active {
	   background-color: white;
		  height: 4px;
	 }
	
	 .prev, .next {
	   position: absolute;
	   top:400px;
	   transform: translateY(-50%);
	   background-color: transparent; /* 将背景颜色设为透明 */
	   color: white;
	   font-size: 20px;
	   padding: 10px;
	   cursor: pointer;
	   border: none;
	 }
	
	 .prev {
	   left: 0;
	 }
	
	 .next {
	   right: 0;
	 }

/*粘性*/
#nian {
    position: fixed;
    right: 0;
	bottom: 20px;
    z-index: 1000; /* 设置一个比轮播图更高的 z-index 值 */
}
#nian-box{
	width: 50px;
	height: 150px;
	background-color: white;
	overflow: hidden;	
}
.nian-he{
	width: 50px;
	height: 50px;
	
}

/*二级*/
#erji{
	width: 200px;
	height: 457px;
	background-color: white;
	position: absolute;
	top: 165px;
	left: 166px;
	background-color: rgba(255, 255, 255, 0.5); /* 设置为白色，透明度为80% */ 
}
#erji-ul {
  list-style: none;
  display: inline;
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
}
#erji-ul li {
  height: 60px;
  width: 200px;
  text-align: center; /* 水平居中 */
  line-height: 60px; /* 垂直居中 */
  color: black;
  margin-top: 10px; 
  
}

#erji-ul li:hover {
  height: 60px;
  width: 200px;
  background-color: rgba(255, 255, 255, 1); /* 设置为白色，透明度为80% */
}
#erji-ul span{
	float: right;
	margin-right: 10px;
}
#erji-box{
	
	position: absolute;
	top: 0px;
	left: 215px;
}
.erji-div{
	display: none;
	width: 400px;
	height: 460px;
	
	background-color: white;
}